I Have an Issue with Xperia flash tool V. 0.9.23.2
it's not showing my Xperia XA1 Ultra = G3212 
G3212_42.0.A.3.30_1308-0941_R3A.ftf firmware after download it. also not available in my devices folder 
